* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    }

body {
    background-color:#cd5ee9;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #1a1a1a;
    font-size: 20px;
}

.title {
    font-size: 60px;
    margin-top: 50px;
    margin-bottom: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: underline wavy rgb(15, 231, 80);
}

.subheading {
    font-size: 25px;
    margin: 50px auto;
    font-style: italic;
    text-align: center;
}

.recipeone {
    justify-content: center;
    font-size: 25px;
    margin: 100px 300px;
    padding: 30px 30px;
    border: 5px solid #1408b1;
    background-color: #f5390a;
}

.recipetwo {
    justify-content: center;
    font-size: 25px;
    margin: 100px 300px;
    padding: 30px 30px;
    border: 5px solid #e4f319;
    background-color: #f50a31;
}

.recipethree {
    justify-content: center;
    font-size: 25px;
    margin: 100px 300px;
    padding: 30px 30px;
    border: 5px solid #11ebf3;
    background-color: #25f50a;
}

p {
    font-size: 20px;
    font-weight: bold;
    margin: 20px 200px;
    padding: 10px 10px;
    text-align: center;
    color:rgb(128, 236, 209)
}

a {
    color: white;           
    text-decoration: none; 
}

a:visited {
    color: rgb(226, 29, 210); 
}

a:hover {
    color: #0044ff;         /* optional hover color for interactivity */
    text-decoration: underline; /* optional underline on hover */
}

a:active {
    color: #ff00f2; 
}
