* {
    margin: 0px;
    }

body {
    background-color:#af2992;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    color: #1a1a1a;
    font-size: 30px;
}

.title {
    font-size: 60px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-decoration: underline wavy rgb(15, 231, 80);
}